body {
  background-color: #F1F2F7;
}

.app {
}

.map {
  height: 50vh;
  min-height: 500px;
}

.container {
  padding: 0 180px;
  min-height: 80vh;
}

.MuiGrid-item {
  margin: auto !important;
}

header h4 {
  padding: 20px;
}

.accent {
  color: #52AEDD;
  fill: #52AEDD;
}

.subtle {
  color: #AEAEB2 !important;
}

footer {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.konami {
  /*height: 18px;*/
}

.debug-panel {
  padding: 20px;
}

.debug-panel > label {
  padding-right: 20px;
}

.current-location-outer {
  margin-top: -11px !important;
  margin-left: -11px !important;
  height: 12px;
  width: 12px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 22px;
}

.current-location {
  width: 100%;
  height: 100%;
  background-color: #52AEDD;
  border-radius: 50%;
}

.image-modal {
  z-index: 99999;
}

.hover-time {
  line-height: 40px !important;
}

.locate-button {
  color: black !important;
  width: 30px;
  height: 30px;
  font-size: 16px !important;
  border-radius: 6.67% !important;
  background-color: white !important;
}
