body {
  background-color: #F1F2F7;
}

.app {
}

.map {
  height: 50vh;
  min-height: 500px;
}

.container {
  padding: 0 180px;
  min-height: 80vh;
}

.MuiGrid-item {
  margin: auto !important;
}

header h4 {
  padding: 20px;
}

.accent {
  color: #52AEDD;
}

.subtle {
  color: #AEAEB2 !important;
}

footer {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.konami {
  /*height: 18px;*/
}

.debug-panel {
  padding: 20px;
}

.debug-panel > div {
  padding-right: 20px;
}

.current-location-outer {
  height: 14px;
  width: 14px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.current-location {
  width: 100%;
  height: 100%;
  background-color: #52AEDD;
  border-radius: 50%;
}

.image-modal {
  z-index: 99999;
}
